<!DOCTYPE html>
<html>
  <head>
    <title>ClerkFirst</title>
    <%= stylesheet_link_tag    "clerk_first/application", media: "all" %>
    <%= javascript_include_tag "clerk_first/application" %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <%= render partial: 'clerk_first/shared/header'%>
      <%= render partial: 'clerk_first/shared/main_menu', locals: { menu_type: :sidebar_drawer_menu } %>
      <main class="mdl-layout__content">
        <%= render 'clerk_first/shared/flash' %>
        <div class="mdl-grid portfolio-max-width">
          <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
            <div class="mdl-card__media">
            <img class="article-image" src="<%= asset_path 'example-work01.jpg' %>" border="0" alt="">
            </div>
            <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Blog template</h2>
            </div>
            <div class="mdl-card__supporting-text">
            Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
            </div>
            <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-example01.html">Read more</a>
            </div>
          </div>
          <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
            <div class="mdl-card__media">
            <img class="article-image" src="<%= asset_path 'example-work07.jpg' %>" border="0" alt="">
            </div>
            <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Sunt nulla</h2>
            </div>
            <div class="mdl-card__supporting-text">
            Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
            </div>
            <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-example01.html">Read more</a>
            </div>
          </div>
          <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
            <div class="mdl-card__media">
            <img class="article-image" src="<%= asset_path 'example-work02.jpg' %>" border="0" alt="">
            </div>
            <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Android.com website</h2>
            </div>
            <div class="mdl-card__supporting-text">
            Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
            </div>
            <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-example01.html">Read more</a>
            </div>
          </div>
          <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
            <div class="mdl-card__media">
            <img class="article-image" src="<%= asset_path 'example-work03.jpg' %>" border="0" alt="">
            </div>
            <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Dashboard template</h2>
            </div>
            <div class="mdl-card__supporting-text">
            Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
            </div>
            <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-example01.html">Read more</a>
            </div>
          </div>
          <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
            <div class="mdl-card__media">
            <img class="article-image" src="<%= asset_path 'example-work09.jpg' %>" border="0" alt="">
            </div>
            <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Consequat ut quis</h2>
            </div>
            <div class="mdl-card__supporting-text">
            Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
            </div>
            <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-example01.html">Read more</a>
            </div>
          </div>
        </div>
        <%= render partial: 'clerk_first/shared/footer' %>
      </main>
    </div>
    <!--script src="https://code.getmdl.io/1.1.3/material.min.js"></script-->

    <%= yield %>

  </body>
</html>
