<!DOCTYPE html>
<html>
  <head>
    <title>ClerkFirst</title>
    <%= stylesheet_link_tag    "clerk_first/application", media: "all" %>
    <%= javascript_include_tag "clerk_first/application" %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <%= render partial: 'clerk_first/shared/header'%>
      <%= render partial: 'clerk_first/shared/main_menu', locals: { menu_type: :sidebar_drawer_menu } %>
      <main class="mdl-layout__content">
        <%= render 'clerk_first/shared/flash' %>
        <div class="mdl-grid portfolio-max-width">
          <%= yield %>
        </div>
        <%= render partial: 'clerk_first/shared/footer' %>
      </main>
    </div>
    <!--script src="https://code.getmdl.io/1.1.3/material.min.js"></script-->
  </body>
</html>
